<h1>Welcome to BankApp, <%= @user.first_name %></h1>
    <p>
        You have successfully signed up to BankApp.
        Your username is: <%= @user.username %>
    </p>
    <p> Have a great day! </p>