<%= stylesheet_link_tag "index"%>
<div class = "Container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <h3 class="tagline text-justify">A fresh approach to banking.</h3>
        </div>    
    </div>
</div>