<div class = "Container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <h3 class="tagline text-justify">We promise we don't commit fraud.</h3>
        </div>    
    </div>
</div>