body {
    background-color: #9370DB;
    background-image: url('background.jpeg');
    background-size: cover;
}

.tagline {
    margin-top: 30%;
    margin-left: 5%;
    font-size: 55px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-shadow: 1px 4px indigo;
    color: white;
}
